
  .ManageMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    border-radius: 10px;
    width: 50%;
  
    padding: 1rem;
    border: #000000;
  }


.ManageMenu {
  display: flex;
  flex-direction: column;
}



.cuisine {
  display: flex;
  margin-right: auto;
  width: 3%;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column; 
  margin-left: -25.7rem;
  margin-right: -26.1rem;
  padding-left: 20rem;
  
}

.add-item-form-container {
  
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  border: 0.25rem solid #000000;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  font-size: 0.96rem;

  background-image: linear-gradient(180deg, #7a868c, #00dac8 48%, #7a868c); 
 


  
  
}

.edit-item-form-container {

  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  flex-direction: column;
  border: 0.25rem solid #000000;
  
  background-image: linear-gradient(180deg, #7a868c, #5b8ecd 48%, #7a868c); 

  
 

}



.ManageMenu button {
  margin: 10px 0;
}





.add-item-form {
  display: flex;
  flex-direction: column;

  
 

}
.item-input{
align-items: left;
flex-direction: column;


}


.add-item-form button {
  padding: 1rem 2rem;
  margin: 1rem 1rem;
  border-radius: 3px;
  background-color: #9d5af4;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 0;
  
}

.menu-item-edit-form {
  display: flex;
  flex-direction: column;
}


 
.add-item-button {
  padding: 1rem 2rem;
  margin: 1rem 1rem;
  border-radius: 3px;
  background-color: rgb(67, 0, 144);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  

  
}


.add-item-button:hover {
  background-color: black;
}


.save-button {
  padding: 0.7rem 2.44rem;
  margin: 0 1rem;
  border-radius: 3px;
  background-color: rgb(67, 0, 144);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;


}

.save-button:hover {
  background-color: black;
}


.remove-button {
  padding: 0.7rem 1.7rem;
  margin: 0 1rem;
  border-radius: 3px;
  background-color: rgb(67, 0, 144);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;

}

.remove-button:hover {
  background-color: black;
}




table {
  border-collapse: collapse;
}

th,
td {
  
  padding: 5px;
  text-align: left;
  border-bottom: 0.15rem solid #000000;



}
