.shop-image {
    width: 200px !important;
    height: 200px !important;
    object-fit: cover !important;
  }


  .menu-image {
    width: 120px !important;
    height: 120px !important;
    object-fit: cover !important;
  }

.basket-container{
  justify-content: center;
  align-items: center;
}
